:root {
    --lighter-grey: #C4C4C4;
    --darker-grey: #848484;
    --grey: #B8BECD;
    --silver: #7D7987;
    --white: #F8F8F8;
    --black: black;
    --orange: #FB8F1D;
    --blue: #202336;
    --lighter-silver: #AFB0B9;

   
    --header-h: 150px;
    --base-tr: 0.3s ease-in-out;
    --contpadding: 100px;

}