header {
    justify-content: space-between;
    display: flex;
    padding: 43px 190px;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

header a {
    color: #B8BECD;
    text-decoration: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

header a:hover {
    color: black;
}

.login {
    color: #FB8F1D;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
    background: inherit;
    cursor: pointer;
    padding: 15px 46px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.register {
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    background: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    padding: 15px 36px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.container {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 34px;
}

.signButtons {
    display: flex;
    column-gap: 18px;
}

.login:active {
    transform: scale(0.9);
}

.register:active {
    transform: scale(0.9);
}



.hamburger {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 2px;
    background-color: black;
    transition: 0.2s ease-in-out;
}

.hamburger.open .line:nth-child(2) {
    width: 0;
}

.hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 9px);

}

.hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -8px);

}

@media screen and (max-width: 1100px) {
    .hamburger {
        display: flex;
    }
    .container {
        position: absolute;
        right: 0;
    }
    nav {
        height: 100svh;
        padding: 43px 24px;
        background: var(--darker-grey);
        position: fixed;
        right: 0;
        top: 0;
        display: none;
        gap: 10px;

        ul {
            display: flex;
            flex-direction: column;
        }
    }
    nav.open {
        display: flex;
        flex-direction: column;
        /*align-items: end;*/
    }
    header {
        padding: 43px 15%;
    }
    .signButtons {
        gap: 20px;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {

    li a {
        font-size: 14px;
    }
    .login {
        font-size: 14px;
    }
    .register {
        font-size: 14px;
    }
}
